/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.appbar{
  display: flex;
  box-shadow: 0 6px 6px #a4a4a4;
  background-color: #f7d736;
  height: 3rem;
}

.logo{
  width: 3.5rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 4px;
}

.subtitle{
  display: flex;
  align-items: center;
  margin-left: 13px;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1.6rem 1rem 1rem 1rem;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 3px 5px #575757;
  padding: 10px;
  width: 30rem;
  border-radius: 5px;
}

.form-card-title{
  font-size: 1.4rem;
  border-color: transparent;
  margin-bottom: 10px;
}

.autoresize{
  font-size: medium;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 40px 0 40px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  width: 12rem;
  height: 6rem;
  border-radius: 0.3rem;
  margin: 0.2px;
}

.card-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  flex-wrap: wrap;
}

.card-content{
  display: flex;
  font-family: 'Permanent Marker', cursive;
  font-size: 0.9rem;
  color: #4c4c4c;
  flex-wrap: wrap;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
  justify-content: center;
  align-items: center;
}